<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.greylabs.yoda">

    <!-- App Permissions-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher_yoda"
        android:theme="@style/AppTheme"
        android:name=".activities.Yoda" >
        <!-- Activities -->
        <activity
            android:name=".activities.ActSplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ActHomeNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".activities.ActHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActQuickStart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActAddTimeBox"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActAddNewGoal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActGoalDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActAddNewStep"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActStepList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActGoalList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActTimeBoxList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActFilters"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActNowFilter"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogueTheme" />
        <activity
            android:name=".activities.ActSettingChangeWallpaper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActSettingDefaultDuration"
            android:screenOrientation="portrait" />


        <!-- Receivers and Services-->
        <service android:name=".scheduler.AlarmService"/>
        <receiver android:name=".scheduler.AlarmReceiver"/>
        <receiver android:name=".scheduler.DateChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name=".scheduler.BootCompleteService"/>
        <receiver android:name=".scheduler.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>